/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.status
/configure
/build-aux
/gnulib
/INSTALL
/lib
/libtool
/rapid-compiler
/rapid-scheme
/.sass-cache
/stamp-h1
Makefile
Makefile.in
*.slfasl
_site
.sass-cache
.jekyll-metadata
*.aux
*.log
*.toc
