/Makefile.am
/alignof.h
/basename-lgpl.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getprogname.c
/getprogname.h
/gettext.h
/intprops.h
/limits.in.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/obstack.c
/obstack.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/sys_types.in.h
/unistd.c
/unistd.in.h
/verify.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/arg-nonnull.h
/c++defs.h
/limits.h
/stdint.h
/stdio.h
/stdlib.h
/string.h
/sys/
/unistd.h
/warn-on-use.h
